<p id="notice"><%= notice %></p>

<div class="card">

  <div class="title">
    <span class="name">
      <%= @card.name %>
    </span>

    <span class="mana">
      <%= @card.mana %>
    </span>
  </div>

  <img src="http://www.mtgvault.com/images/cards/medium/M11/Unholy_Strength.jpg" />
  <div class="att_title">
    <span class="card_type">
      <%= @card.card_type %>
    </span>
  </div>

  <div class="card_body">
    <p>
      <b>Body:</b>
      <%= @card.body %>
    </p>
  </div>

  <div class="power_toughness">
    <span class="pow_tough">
      <p>
        <%= @card.power %>
        &#47;
        <%= @card.health %>
      </p>
    </span>
  </div>

</div>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
