<p id="notice"><%= notice %></p>

<div style="border: 5px solid; margin: 5px; border-radius: 2px; width: 250px; height: 375px; box-shadow: inset 0 0 8em <%= @card.color %>">

  <div class="title">
    <span class="name">
      <%= @card.name %>
    </span>

    <span class="mana">
      <%= @card.mana %>
    </span>
  </div>

  <div class="card_art">
  <%= image_tag (@card.edition + "/" + card_file_name(@card.name)) %>
  </div>

  <div class="att_title">
    <span class="card_type">
      <%= @card.card_type %>
    </span>

    <span class="edition">
      <%= @card.edition %>
    </span>
  </div>

  <div class="card_body">
      <%= @card.body %>
  </div>

  <div class="pow_tough">
    <span class="power_toughness">
        <%= @card.power %> &#47; <%= @card.health %>
    </span>
  </div>

</div>


<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
